html {
    font-family: monospace;
    font-size: 15px;
    background-color: black;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
p {
    font-size: 20px;
    text-align: center;
    color: green
}
.feedback {
    font-size: 20px;
}
h1 {
    font-size: 40px;
    text-align: center;
    color: green;
}
input, textarea {
    width: 200px;
    background-color: green;
    border: 2px solid black;
    font-family: monospace;
}
button {
    color: green;
    background-color: black;
    border: 2px solid green;
}
label, td {
    color: green;
}